@use 'abstracts' as *;
@use 'global' as *;
@use 'base' as *;
@use 'components/container' as *;

.landing_main{
    @include fluid(padding-block-start, 110px, 175px);
    .content-block{
        @include bp('md'){
            max-width: rem(765px);
        }
        margin-inline: auto;
        h2{
            @include fluid(margin-block-end, 30px, 44px);
        }
        p{
            color: $color-text-gray;
        }
    }
    .link-block{
        margin-block-start: rem(46px);
        gap: rem(15px);
    }
    img{
        margin-block: -10%;
        width: 100%;
        z-index: -1;
        position: relative;
    }
}
.interactive_media_sec{
    .highlighted{
        color: $color-text-primary;
    }
    .full-width{
        min-height: 100vh;
        @include bp('lg'){
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .content-block{
            @include fluid(padding-block-start, 72px, 102px);
            @include fluid(padding-block-end, 54px, 82px);
            .container{
                @include bp('xl'){
                    padding-inline: 80px;
                }
            }
            background-color: #EBEBEB;
            .interactive_content{
                @include fluid(padding-block-start, 52px, 186px);
                h2{
                    @include fluid(margin-block-end, 24px, 45px);
                    @include bp('xl'){
                        max-width: 70%;
                    }
                }
                p{
                    @extend .text-sm;
                }
                ul{
                    @include fluid(gap, 20px, 30px);
                    @include fluid(margin-block-start, 36px, 65px);
                    li{
                        @include fluid-type(22px, 28px, 768px, 1368px);
                        display: grid;
                        gap: 18px;
                        
                        span.text{
                            opacity: 0.36;
                        }
                        span.bordered_separator{
                            @include bp('lg'){
                                max-width: 61%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.home_slider_xl{
    color: white;
    .swiper-controls_wrapper{
        gap: 6px;
        position: absolute;       
        z-index: 1;
        left: 30px;
        bottom: 30px;
        @include bp('md'){
            @include fluid(right, 30px, 50px);
            @include fluid(bottom, 62px, 122px);
            left: unset;
        }
    }
    .swiper-slide{
        &>.grid{
            min-height: 100vh;
        }
        .sliderMedia, .sliderContent{
            grid-row: 1/1;
            grid-column: 1/-1;
        }
        .sliderMedia{
            z-index: 0;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slidePagination{
            align-self: start;
            @include fluid(padding-block, 24px, 42px);
            text-align: right;
            span{
                font-weight: normal;
                &:first-of-type{
                    @include fluid-type(20px, 35px, 768px, 1368px);
                }
                &:last-of-type{
                    @include fluid-type(16px, 22px, 768px, 1368px);
                }
            }
        }
        .slidePagination, .content-block{
            position: relative;
            z-index: 1;
            @include fluid(padding-inline, 30px, 50px);            
        }
        .sliderMedia, .slidePagination, .content-block{
            grid-row: 1/1;
            grid-column: 1/-1;
        }
        .content-block{
            align-self: end;
            padding-block-end: 100px;
            @include bp('md'){
                @include fluid(padding-block-end, 72px, 112px);
            }
            @include fluid(gap, 18px, 28px); 
            .slideTitle{
                 @include fluid-type(46px, 80px, 768px, 1368px);
            }
            .text-lg{
                @include bp('md'){
                    max-width: max(650px, 40vw);
                    padding-inline-end: 120px;
                }
            }
        }
    }
}
.aia_spec{
    @include fluid(padding-block, 75px, 115px);
    background-color: #EBEBEB;
    .content-block{
        @include fluid(column-gap, 100px, 207px);
        @include bp('md'){
            grid-template-columns: 1fr 1.25fr;
        }
    }
    .aia_slider{
        @include fluid(margin-block-start, 32px, 46px);
        position: relative;
        &:after{
            content: '';
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            width: min(50%, rem(425px));
            background: linear-gradient(to left, #ebebeb 0%, rgba(235, 235, 235, 0) 100%);
            pointer-events: none;
            z-index: 1;
        }
    }
    .swiper-slide{
        width: auto;
    }
    .aia_controls{
        @include fluid(margin-block-start, 32px, 50px);
        &>.flex{
            &:first-of-type{
                gap: 15px;
            }
        }
        
        .swiper-controls_wrapper{
            gap: 6px;
        }
    }
    .aia_card{
        border-radius: calc($border-radius / 2);
        background-color: white;
        @include fluid(padding-block-start, 34px, 42px);
        @include fluid(padding-block-end, 34px, 42px);
        padding-inline: rem(14px);
        max-width: rem(349px);
        .aia_title{
            border-bottom: 1px solid #C6C6C6;
            padding-block-end: 12.5px;
            padding-inline: rem(12px);
        }
        .aia_details{
            font-weight: bolder;
            padding-inline: rem(12px);
            border-bottom: 1px solid #707070;
            @include fluid(padding-block-end, 16px, 24px);
            span{
                color: $color-text-primary;
                
                &:first-of-type{
                    @include fluid-type(36px, 57px);
                }
                &:last-of-type{
                    @include fluid-type(18px, 33px);
                }
            }
        }
        .aia_content{
            color: #383838;
            @include fluid(padding-block-start, 22px, 30px);
            padding-inline: rem(8px);
        }
    }
}
.commercial_doc_dwnld{
    @include fluid(padding-block-start, 50px, 70px);
    @include fluid(padding-block-end, 70px, 90px);
    .bordered_separator{
        @include fluid(margin-block-start, 32px, 40px);
        @include fluid(margin-block-end, 24px, 30px);
    }
    .content-block{
        p{
            font-weight: normal;
            @include bp('lg'){
                max-width: 80%;
            }
        }
    }
    .dwnld_table{
        @include fluid(margin-block-start, 65px, 90px);
        @include fluid(margin-block-end, 85px, 120px);
        position: relative;        
        .highlighter {
            position: absolute;
            left: 0;
            width: 100%;
            background: $color-primary;
            pointer-events: none;
            z-index: 0;
            opacity: 0;
        }
        .table_row{
            @include fluid(padding-block-end, 16px, 25px);
            @include fluid(padding-block-start, 24px, 36px);
            @include fluid(padding-inline, 16px, 30px);
            border-bottom: 1px solid #CBCBCB;
            justify-content: space-between;
            @include fluid(gap, 16px, 30px);
            position: relative;
            z-index: 1;
            &:hover{
                color: white;
                border-color: $color-primary;
                .dwnld_extension, .dwnld_icon{
                    color: white;
                }
            }
            &>div{
                &:first-of-type{
                    flex: 1;
                }
                &:last-of-type{
                    @include fluid(gap, 16px, 24px);
                }
            }
        }
        .dwnld_count{
            @include fluid(padding-inline-end, 15px, 75px);
        }
        .dwnld_title{
            @include fluid-type(22px, 50px, 768px, 1368px);
            flex: 1;
            
        }
        .dwnld_extension{            
            color: $color-text-gray;
            text-transform: uppercase;
        }
        .dwnld_icon{
            @include fluid(width, 20px, 27px);
            transform: rotate(90deg);
            color: $color-primary;
        }
        .dwnld_count, .dwnld_extension, .dwnld_title, .dwnld_icon{
            transition: 0.35s ease color;
        }
    }
    .complaince_code{
        @include fluid-type(16px, 22px, 768px, 1368px);
        & > .flex{
            gap: 12px;
        }
        & > h6{
            color: $color-text-primary;
            @include fluid(margin-block-end, 24px, 36px);
        }
        .complaince_col{
            border-radius: $border-radius;
            background-color: #F5F5F5;
            padding: rem(30px) rem(36px);
            max-width: rem(360px);
            font-weight: normal;
            flex: 100%;
            @include bp('md'){
                flex: 1;
            }
        }
    }
}
.wall_systems{
    background-color: $color-bg;
    @include fluid(padding-block-start, 80px, 140px);
    @include fluid(padding-block-end, 55px, 80px);
    color: white;
    h2{
        span{            
            color: #D80027;
        }
    }
    .bordered_separator{
        @include fluid(margin-block-end, 24px, 40px);
    }
    .content-block{
        @include fluid(column-gap, 50px, 100px);
        row-gap: 20px;
        @include bp('md'){
            grid-template-columns: 4fr 3.2fr;
            justify-content: space-between;
            .text-lg{
                max-width: rem(680px);
            }
        }
    }
    .content-block-2{
        @include fluid(margin-block-start, 64px, 102px);
        h6{
            @include fluid(margin-block-end, 24px, 36px);
        }
    }
    .supported_systems_li{
        justify-content: center;
        align-items: center;
        gap: 6px;
        li{
            @extend .text-md;
            background-color: $color-text-primary;
            border-radius: calc($border-radius / 2);
            @include fluid(padding-block, 20px, 26px);
            @include fluid(padding-inline, 20px, 26px);
        }
    }
}
.contact_cta{
    @include fluid(padding-block-start, 70px, 100px);
    @include fluid(padding-block-end, 90px, 120px);
    p{
        @include fluid(margin-block-start, 24px, 39px);
        @include fluid(margin-block-end, 32px, 51px);
        color: #414141;
        @include bp('md'){
            max-width: rem(607px);
            margin-inline: auto;
        }
    }
}